extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Order/web/css/ProductionPlan.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./Order/web/controller/ProductionPlanController.js')
block content
    div(ng-controller='appCtrl')
        .row-fluid
            .span12
                h3.page-title(data-lang='AccountManage')
                    | #{lang.Order.ProductionPlan}
                ul.breadcrumb
                    li
                        i.icon-home
                        a(href='/') #{lang.EmployeePerformance.Home}
                        i.icon-angle-right
                    li
                        a(href='javascript:;', data-lang='System') #{lang.Order.WorkOrderManagement}    
                        i.icon-angle-right
                    li
                        a(href='javascript:;', data-lang='MachineScheduling') #{lang.Order.ProductionPlan}
        form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);')
            .row-fluid
                .span
                    .control-group(style='margin-bottom: 5px;')
                        label.control-label(data-lang='Common.PASSWORD') #{lang.Order.ProductionPlan}:
                        .BZcontrols
                            input#PLAN_NO_S.m-wrap(type='text', name='PLAN_NO_S')
                .span
                    .control-group(style='margin-bottom: 5px;')
                        label.control-label(data-lang='Common.PASSWORD') #{lang.Order.OrderNumber}:
                        .BZcontrols
                            input#ORDER_NO_S.m-wrap(type='text', name='ORDER_NO_S')
            .row-fluid
                .span
                    .control-group(style='margin-bottom: 5px;')
                        label.control-label(data-lang='Common.PASSWORD') #{lang.Order.ProductNumber}:
                        .BZcontrols
                            input#PROD_NO_S.m-wrap(type='text', name='PROD_NO_S')
                .span
                    .control-group(style='margin-bottom: 5px;')
                        label.control-label(data-lang='Common.PASSWORD') #{lang.Order.ProductName}:
                        .BZcontrols
                            input#PROD_NAME_S.m-wrap(type='text', name='PROD_NAME_S')
                div(style='float: left;margin-left:0px;width:350px;')
                    .control-group(style='margin-bottom: 5px;')
                        label#groupOrMachine_text.control-label(data-lang='Common.PASSWORD') #{lang.Order.ProjectType}
                        .BZcontrols
                            input#PLAN_TYPE_S.m-wrap(type='text', name='PLAN_TYPE_S')
                .span
                    .control-group(style='margin-bottom: 5px;')
                        #search.btn.green(style='margin-left: 50px;')
                            | #{lang.EmployeePerformance.Search}
                            i.icon-search
        div
            .btn.btn-sm.blue(ng-click='addplan()')
                | #{lang.Order.Add}
                i.icon-plus-sign
            .btn.btn-sm.purple(ng-click='modifyplan()')
                | #{lang.Order.Modify}
                i.icon-edit
            .btn.btn-sm.red(ng-click='deleteplan()')
                | #{lang.Order.Delete}
                i.icon-remove-sign
        #grid(style='margin-top:10px')
        #girdproc
        script#proplan(type='text/x-kendo-template', style='margin-top:-200px;').
            <form class="form-horizontal" id="machineviewmodel" style="width:700px;">
            <div id="PROG_NA" style="width: 600px; margin: -20px auto 30px;"> </div>
            <table class="control-group" style="margin-left: -40px;">
            <tr>
            <td class="PROG">
            <label class=" control-label" data-lang="Common.PROG_NAME"><span class="required">*</span>#{lang.Order.ProductionPlan}</label>
            <div class="controls">
            <input type="text" id="PLAN_NO" name="PLAN_NO" class="span6 m-wrap" style="width:200px; margin-left: 0px;" />
            </div>
            </td>
            <td class="">
            <label class="control-label" data-lang="Common.DURATION"><span class="required">*</span>#{lang.Order.OrderNumber}</label>
            <div class="controls">
            <input type="text" id="ORDER_NO" name="ORDER_NO" data-required="1" class="span6 m-wrap rank-num" style="width: 214px; margin-left: 0px;" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style=" margin-left: -40px;">
            <tr>
            <td class="">
            <label class=" control-label" data-lang="Common.PLAN_CNT">
            #{lang.Order.ProjectType}
            </label>
            <div class="controls">
            <input type="text" id="PLAN_TYPE" name="PLAN_TYPE" class="span6 m-wrap" style="width:213px" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.ProductNumber}</label>
            <div class="controls">
            <input type="text" id="PROD_NO" name="PROD_NO" data-bind="value:MEMO" data-required="1" class="span6 m-wrap" />
            </div>
            </td>
            <td class="">
            <label class="control-label" data-lang="Common.PROG_TYPE">#{lang.Order.ProductName}</label>
            <div class="controls" id="span">
            <input type="text" id="PROD_NAME" name="PROD_NAME" disabled="disabled" class="span6 m-wrap" style="width:214px; margin-left: 0px;line-height:34px;" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.CraftId}</label>
            <div class="controls">
            <input type="text" id="CRAFT_NO" name="CRAFT_NO" class="span6 m-wrap" />
            </div>
            </td>
            <td class="">
            <label class="control-label" data-lang="Common.PROG_TYPE">#{lang.Order.ProcessRoute}</label>
            <div class="controls" id="span">
            <input type="text" id="CRAFT_NAME" name="CRAFT_NAME" disabled="disabled" class="span6 m-wrap" style="width:214px; margin-left: 0px;line-height:34px;" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.Inventory}</label>
            <div class="controls">
            <input type="number" id="INPUT_NUM" name="INPUT_NUM" value="0" min="0" class="span6 m-wrap" />
            </div>
            </td>
            <td class="">
            <label class="control-label" data-lang="Common.PROG_TYPE">#{lang.Order.TargetQuantity}</label>
            <div class="controls" id="span">
            <input type="number" id="TARGET_NUM" name="TARGET_NUM" value="0" min="0" class="span6 m-wrap" style="width:214px;" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO"><span class="required">*</span>#{lang.Order.Unit}</label>
            <div class="controls">
            <input type="text" id="UNIT" name="UNIT" class="span6 m-wrap" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.StartDate}</label>
            <div class="controls">
            <input type="text" id="PLAN_START" name="PLAN_START" data-bind="value:MEMO" data-required="1" class="span6 m-wrap" style="width:213px" />
            </div>
            </td>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.EndDate}</label>
            <div class="controls">
            <input type="text" id="PLAN_END" name="PLAN_END" data-bind="value:MEMO" data-required="1" class="span6 m-wrap" style="width:213px" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.CustomerName}</label>
            <div class="controls">
            <input type="text" id="CUSTOMER" name="CUSTOMER" data-bind="value:MEMO" data-required="1" class="span6 m-wrap" />
            </div>
            </td>
            </tr>
            </table>
            <table class="control-group" style="margin-left:-40px;">
            <tr>
            <td class="">
            <label class="control-label" data-lang="Common.MEMO">#{lang.Order.Note}</label>
            <div class="controls">
            <input type="text" id="MEMO" name="MEMO" data-bind="value:MEMO" data-required="1" class="span6 m-wrap" />
            </div>
            </td>
            </tr>
            </table>
            <div class="form-actions" style="border:0;">
            <div id="Save" class="btn green">#{lang.Order.OK}<i class="icon-ok"></i></div>
            <div id="Win_Cancel" class="btn">#{lang.Order.Cancel}<i class="icon-remove"></i></div>
            </div>
            </form>
    script#template(type='text/x-kendo-template').
        <div class="toolbar">
        <button id="task_e" class="btn btn-sm purple">#{lang.Order.EditTheTRepairOrder}<i class="icon-edit"></i></button>
        </div>
    script#task_no(type='text/x-kendo-template', style='margin-top:-200px;').
        <form class="form-horizontal" id="machineviewmodel" style="width:400px;">
        <div id="PROG_NA" style="width: 400px; margin: -20px auto 30px;"> </div>
        <table class="control-group" style="margin-left: -40px;">
        <tr>
        <td class="PROG">
        <label class=" control-label" data-lang="Common.PROG_NAME"><span class="required">*</span>#{lang.Order.RepairOrderName}</label>
        <div class="controls">
        <input type="text" id="TASK_NO" name="TASK_NO" class="span6 m-wrap" style="width:300px; margin-left: 0px;" />
        </div>
        </td>
        </tr>
        <tr>
        <td class="PROG">
        <label class=" control-label" data-lang="Common.PROG_NAME"><span class="required">*</span>#{lang.Order.Inventory}</label>
        <div class="controls">
        <input type="number" min="0" id="INPUT_NUMS" name="INPUT_NUMS" class="span6 m-wrap" style="width:150px; margin-left: 0px;" />
        </div>
        </td>
        </tr>
        <tr>
        <td class="PROG">
        <label class=" control-label" data-lang="Common.PROG_NAME"><span class="required">*</span>#{lang.Order.TargetQuantity}</label>
        <div class="controls">
        <input type="number" id="TARGET_NUMS" min="0" name="TARGET_NUMS" class="span6 m-wrap" style="width: 150px; margin-left: 0px;" />
        </div>
        </td>
        </tr>
        </table>
        <div class="form-actions" style="border:0;">
        <div id="Save" class="btn green">#{lang.Order.OK}<i class="icon-ok"></i></div>
        </div>
        </form>
    script#PROC_TYPE(type='text/x-kendo-template').
        # if ( data.PROC_TYPE ==0) { #
        <div>
        <div style="float: left;margin-left:4px">#{lang.Order.No}</div>
        </div>
        # } else if(data.PROC_TYPE == 1) { #
        <div>
        <div style="float: left;margin-left:4px">#{lang.Order.Yes}</div>
        </div>
        # } #
