extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./MachineStatus/web/css/statusrate.css',rel='stylesheet')
    link(type='text/css',href='./MachineStatus/web/css/jcallout.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/Raphael-2.1.2.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts-3d.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/BandexHighCharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/jcallout.js')
    script(type='text/javascript',src='./MachineStatus/web/controller/statusrateController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | #{lang.MachineStatus.historicalStatus}
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') #{lang.EmployeePerformance.Home}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') #{lang.MachineStatus.MachiningEfficiencyAnalysis}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='MachineScheduling') #{lang.MachineStatus.historicalStatus}
    form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.StartTime}
                    .BZcontrols
                        input#startTime.m-wrap(type='text', name='startTime')
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.EndTime}
                    .BZcontrols
                        input#endTime.m-wrap(type='text', name='endTime')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.MachineStatus.Grouping}
                    .BZcontrols(style='line-height: 32px;')
                        label.radio(style='margin-top: 0px !important;font-size: 12px;')
                            input(type='radio', name='searchType', checked='', value='1')
                            | #{lang.EmployeePerformance.Date}
                        label.radio(style='margin-top: 0px !important;font-size: 12px;')
                            input(type='radio', name='searchType', value='2')
                            | #{lang.EmployeePerformance.Equipment}
            .span(style='width: 150px !important;')
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.MachineStatus.Detail}
                    .BZcontrols(style='line-height: 32px;')
                        label.checkbox(style='margin-top: 0px !important;font-size: 12px;')
                            input(type='checkbox', name='detailshow')
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD', style='width: 60px;') #{lang.MachineStatus.Filter}
                    .BZcontrols(style='line-height: 32px; margin-left: 70px;')
                        label.checkbox(style='margin-top: 0px !important;font-size: 12px;')
                            input(type='checkbox', name='filter')
                        input#filterLogic.m-wrap(type='text', style='width:100px;')
                        input#filterValue.m-wrap(type='text', style='width: 50px; margin-top: 1px; margin-right: 5px;')
                        | #{lang.EmployeePerformance.Seconds}
            div(style='float: left;margin-left:0px;width:350px;')
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.Equipment}
                    .BZcontrols
                        input#groupOrMachine.m-wrap(type='text', name='groupOrMachine')
            .span
                .control-group(style='margin-bottom: 5px;')
                    #search.btn.green(style='margin-left: 50px;')
                        | #{lang.EmployeePerformance.Search}
                        i.icon-search
    .row-fluid(style='padding-top:5px;', oncontextmenu='return false', ondragstart='return false', onselectstart='return false', onselect='document.selection.empty()', oncopy='document.selection.empty()', onbeforecopy='return false', onmouseup='document.selection.empty()')
        #filter.m-wrap
        table#table_status(border='0', cellpadding='0', cellspacing='0', width='100%')
        #loading(style='font-size:25px;text-align:center;display:none;margin-top:10px;')
            i.icon-spinner.icon-spin
            |  #{lang.MachineStatus.AreTryingToLoadData}
        #display
        .row-fluid(style='margin-top:10px;')
            .span6
                #chartRato1
            .span6
                #chartRato2
        #popover(style='width:2px;height:44px;')
    script#popup-add(type='text/x-kendo-template').
        <form class="form-horizontal" id="memberviewmodel" style="width:850px;padding:0px;">
        <div id="form-grid"></div>
        <div class="form-actions" style="margin-top: 0px;">
        <div data-bind="click:save" class="btn green">#{lang.EmployeePerformance.OK}<i class="icon-ok"></i></div>
        <div id="Win_Cancel" class="btn">#{lang.EmployeePerformance.Cancel}<i class="icon-remove"></i></div>
        </div>
        </form>
    script#popup-showStatus(type='text/x-kendo-template').
        <form class="form-horizontal" id="memberviewmodel" style="width:850px;padding:0px;">
        <div id="form-grid">
        <div id="status"></div>
        </div>
        <div class="form-actions" style="margin-top: 0px;">
        <div data-bind="click:save" class="btn green">#{lang.EmployeePerformance.OK}<i class="icon-ok"></i></div>
        <div id="Win_Cancel" class="btn">#{lang.EmployeePerformance.Cancel}<i class="icon-remove"></i></div>
        </div>
        </form>
    script#treeview-template(type='text/kendo-ui-template').
        <div style="" class="form-inline editableform">
        <div class="control-group">
        <div>
        <div style="position: relative;" class="editable-input">
        <input type="text" style="padding-right: 24px; padding-top: 6px; padding-bottom: 6px;" class="input-medium" id="BzEditerText" placeholder="状态描述">
        <span class="editable-clear-x"></span>
        </div>
        <div class="editable-buttons">
        <button style="padding-bottom: 6px; padding-top: 6px; margin-top: 0px; height: 34px; border-width: 1px;" class="btn btn-primary" id="BzEditerOk">
        <i class="icon-ok icon-white"></i>
        </button>
        </div>
        </div>
        <div style="display: none;" class="editable-error-block help-block"></div>
        </div>
        </div>