extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Common/web/css/OperationRatioFormula.css',rel='stylesheet')
    link(type='text/css',href='./Common/web/css/mui.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./Common/web/javascripts/mui.js')
    script(type='text/javascript',src='./Common/web/controller/OperationRatioFormulaController.js')

block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | #{lang.Common.SetFormula}
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') #{lang.EmployeePerformance.Home}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='MachineScheduling') #{lang.Common.SetFormula}
    .clearfix
        .mui-textfield.mui-textfield--float-label.caretParent.pull-left(style='width:280px')
            input#NAME(type='email', required='', style='width: 280px')
            label #{lang.Common.PleaseFillOutTheNameOfFormula}
            span#caret.mui-caret.caret
            ul.ComboBox
        button#btn.btn.blue.pull-left.add
            | #{lang.Order.Add}
            i.icon-plus-sign
    #formula(width='100%')
    .Doraemon
        canvas#Doraemon(width='400', height='600')
