extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./EmployeePerformance/web/css/MachineWorkingState.css',rel='stylesheet')
    link(type='text/css',href='./javascripts/UI/Scripts/media/css/inbox.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts-3d.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/BandexHighCharts.js')
    script(type='text/javascript',src='./EmployeePerformance/web/controller/MachineYieldController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | #{lang.EmployeePerformance.ProductionAnalysis}
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') #{lang.EmployeePerformance.Home}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') #{lang.EmployeePerformance.PerformanceAnalysis}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='AccountManage') #{lang.EmployeePerformance.ProductionAnalysis}
    form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);')
        .row-fluid
            div(style='float: left;margin-left:0px;width:350px;')
                .control-group(style='margin-bottom: 5px;')
                    label#groupOrMember_text.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.Staff}
                    .BZcontrols
                        input#groupOrMember.m-wrap(type='text', name='groupOrMember')
            div(style='float: left;margin-left:0px;width:350px;')
                .control-group(style='margin-bottom: 5px;')
                    label#groupOrMachine_text.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.Equipment}
                    .BZcontrols
                        input#groupOrMachine.m-wrap(type='text', name='groupOrMachine')
        .row-fluid
            .span(style='width: 350px !important;')
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.StatisticalMethods}
                    .BZcontrols
                        input#totalType.m-wrap(type='text', name='totalType', style='width:200px;')
            .span(style='width: 350px !important;')
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.StartTime}
                    .BZcontrols
                        input#startTime.m-wrap(type='text', name='startTime', style='width:200px;')
            .span(style='width: 350px !important;')
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.EndTime}
                    .BZcontrols
                        input#endTime.m-wrap(type='text', name='endTime', style='width:200px;')
            .span(style='width: 130px !important;')
                .control-group(style='margin-bottom: 5px;')
                    #search.btn.green(style='margin-left: 50px;')
                        | #{lang.EmployeePerformance.Search}
                        i.icon-search
            .span
                .control-group(style='margin-bottom: 5px;')
                    #output.btn.green(style='margin-left: 20px;')
                        | #{lang.EmployeePerformance.ExportHTML}
                        i.icon-share-alt
    .row-fluid1.inbox
        div
            ul.grouptype.inbox-nav.margin-bottom-10(style='position: absolute;right: 20px;margin-top: 20px;')
                li.active
                    a.btn(data-title='1', href='javascript:;') #{lang.EmployeePerformance.Equipment}
                    b
                li
                    a.btn(data-title='2', href='javascript:;') #{lang.EmployeePerformance.Staff}
                    b
        div
    .charts(style='margin-top:50px;')
