extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./EmployeePerformance/web/css/OnlineDetails.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./EmployeePerformance/web/controller/OnlineDetailsController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | #{lang.EmployeePerformance.PerformanceAnalysis}
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') #{lang.EmployeePerformance.Home}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') #{lang.EmployeePerformance.PerformanceAnalysis}
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='AccountManage') #{lang.EmployeePerformance.OnlineSubsidiary}
    form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);', ng-controller='OnlineDetailsCtrl')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.LogOnToStartDate}
                    .BZcontrols
                        input#startTime.m-wrap(type='text', name='startTime')
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.LogOnToEndDate}
                    .BZcontrols
                        input#endTime.m-wrap(type='text', name='endTime')
            .span
                .control-group(style='margin-bottom: 5px;')
                    #search.btn.green(style='margin-left: 50px;', ng-click='search()')
                        | #{lang.EmployeePerformance.Search}
                        i.icon-search
    #grid(style='margin-top:20px;')
    script#LOGIN_STATE(type='text/x-kendo-template').
        # if ( data.LOGIN_STATE == 2) { #
        #{lang.EmployeePerformance.Login}
        # } else if ( data.LOGIN_STATE == 1) { #
        #{lang.EmployeePerformance.Logout}
        # } #

